<div >
<%= form_with(model: post) do |form| %>

  <div class="mb-3">
    <% invalid = post.errors.include?(:title) %>
    <%= form.text_field :title ,class:"form-control" ,placeholder: "Title"  %>
    <% if invalid%>
    <p style="color:red" >
     <%= post.errors.full_messages_for(:title).join(",") %>
     </p>
     <% end %>
  </div>

  <div class="mb-3">
    <% invalid = post.errors.include?(:description) %>
    <%= form.text_field :description ,class:"form-control" ,placeholder: "description"  %>
    <% if invalid%>
    <p style="color:red" >
     <%= post.errors.full_messages_for(:description).join(",") %>
     </p>
     <% end %>
  </div>

  <div class="mb-3">
    <% invalid = post.errors.include?(:keyword) %>
    <%= form.text_field :keyword ,class:"form-control" ,placeholder: "keyword"  %>
    <% if invalid%>
    <p style="color:red" >
     <%= post.errors.full_messages_for(:keyword).join(",") %>
     </p>
     <% end %>
     <br/>
     <%= form.file_field :images , multiple:true ,class:'btn btn-primary ' %>
  </div>

  <div class="action">
    <%= form.submit  class:'btn btn-secondary col-12'%>
  </div>
<% end %>
</div>
