<div id="<%= dom_id post %>"class="post-holder">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keyword %>
  </p>
  <p>
 <%= link_to "", post, class:"post-link" %>
 </p>
 <% post.images.each do |image| %>
  <%= image_tag(image, style: "object-fit: cover; width: 300px; height: 600px;") %>
<% end if post.images.present? %>

</div>

