<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>

<%= link_to "Edit", edit_post_path(@post) ,class:"btn btn-secondary"%>
  <%= link_to "Back", posts_path ,class:"btn btn-secondary"%>
  <br/>
</br>
  <%= button_to "Delete", @post, method: :delete ,class:"btn btn-outline-danger"%>
</div>
